
ul.ltx_toclist {background: none; border: none; box-shadow: none; display: inline-block; height: auto; margin-bottom: 0;}
li.ltx_tocentry {border: none; float: none; width: auto; height: auto; margin: 0}
header span.ltx_ref_self {display:none}
header ul a.ltx_ref {text-align: left; height: auto; font-size: 14px; padding-top: 10px; }
header ul li ul li ul {margin-left: 20px}
header p {margin-top: 20px}
cite.ltx_cite {font-style: normal}
section {clear: both; width: 600px; padding-bottom: 25px}
footer {font-size: 10px; width: 200px; float: none; left: 50px}
div.ltx_authors, div.ltx_date, div.ltx_abstract, h1 {width: 600px; float: right}
div.ltx_date {margin-bottom: 20px}
span.ltx_tag_enumerate {display: none}
h6.ltx_title_abstract {display: none}
div.ltx_abstract {margin-bottom: 20px}
.ltx_abstract p, .ltx_abstract a {font-weight: bold;}
.ltx_equation td {border: 0}
.ltx_figure td {border: 0;}
figure {background: #F4F4F4;  margin: 0; margin-bottom: 10px; padding: 20px 20px}
object.ltx_graphics {padding-left: 20px}
figcaption {font-size: 12px}
ul.ltx_biblist {list-style: none;}
li.ltx_bibitem {display: table-row; padding-bottom: 5px}
span.ltx_bibtag {width: 30px; display: table-cell}
span.ltx_bibblock {display: table-cell}
